html,
body {
    padding: 0;
    margin: 0;
}
.content {
    width: 750px;
    margin: auto;
}
@media (max-width: 767px) {
    .content {
        width: 100%;
    }
}
.content img {
    width: 100%;
}