.c-media {
    &-map {
        margin-top: 24px;
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
        iframe {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }
}