/*#region var*/
:root {
    --pxunit: 10px;
    --fontSerif: 'Noto Serif JP', serif;
}
@media (max-width: 1250px) {
    :root {
        --pxunit: 8px;
    }   
}
@media (max-width: 767px) {
    :root {
        --pxunit: 6px;
    }   
}
.hx1 {content: "";height: var(--pxunit);}
.hx2 {content: "";height: calc(var(--pxunit)*2);}
.hx3 {content: "";height: calc(var(--pxunit)*3);}
.hx4 {content: "";height: calc(var(--pxunit)*4);}
.hx5 {content: "";height: calc(var(--pxunit)*5);}
.hx6 {content: "";height: calc(var(--pxunit)*6);}
.hx7 {content: "";height: calc(var(--pxunit)*7);}
.hx8 {content: "";height: calc(var(--pxunit)*8);}
.hx9 {content: "";height: calc(var(--pxunit)*9);}
.hx10 {content: "";height: calc(var(--pxunit)*10);}
.hx12 {content: "";height: calc(var(--pxunit)*12);}
.hx16 {content: "";height: calc(var(--pxunit)*16);}
.hx20 {content: "";height: calc(var(--pxunit)*20);}
/*#endregion var*/

/*#region RESET*/
html{scroll-behavior: smooth;}
body{overflow-y: hidden; margin:0px; padding:0px; font-family: 'Noto Sans JP', sans-serif; font-weight:400; line-height: 1.6; overflow-x:hidden;color: #231916;}
h1,h2,h3,h4,h5,h6{margin:0px; padding:0px; font-weight:normal;}
p{margin:0px; padding:0px;}
a{text-decoration:none; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;} 
a:hover, a:focus, a:active{ outline:none; text-decoration:none; }
input{-webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;} 
input:hover, input:focus, input:active{outline:none;}
input::-webkit-input-placeholder{color:#333333;}
input::-moz-placeholder{color:#333333;}
input:-ms-input-placeholder{color:#333333;}
input:-moz-placeholder{color:#333333;}
textarea::-webkit-input-placeholder{color:#333333;}
textarea::-moz-placeholder{color:#333333;}
textarea:-ms-input-placeholder{color:#333333;}
textarea:-moz-placeholder{color:#333333;}
button:focus {outline:0;}
ul{margin:0px; padding:0px;}
ul li{list-style-type:none;}
img{border:0px;}
.clearfix{clear:both; overflow:hidden;}
.container{max-width:1430px; margin:auto;}
.wrapper{margin:0px auto;}
@media(max-width:1250px){
    .container{ max-width:992px; }
}
@media (max-width:991px) {
    .container{max-width:768px;}
}
@media (max-width:767px){
    .container{ max-width:100%; }
}
/*#endregion RESET*/

/*#region ANIMATION*/
/*#region opacity animation*/
.js_opac {opacity: 0;transition: all .6s;transition-delay: .3s;}
.js_opac.on {opacity: 1;}
/*#endregion opacity animation*/
/*#region spin animation*/
/* spin1 */
@keyframes spin1 {
	0% {transform: rotate(0deg)translate3d(7px, 0, 0);}
	100% {transform: rotate(360deg)translate3d(7px, 0, 0);}
}

/* spin2 */
@keyframes spin2 {
	0% {transform: rotate(0deg)translate3d(5px, 0, 0);}
	100% {transform: rotate(360deg)translate3d(5px, 0, 0);}
}

/* spin3 */
@keyframes spin3 {
	0% {transform: rotate(0deg)translate3d(6px, 0, 0);}
	100% {transform: rotate(360deg)translate3d(6px, 0, 0);}
}

/* spin4 */
@keyframes spin4 {
	0% {transform: rotate(0deg)translate3d(3px, 0, 0);}
	100% {transform: rotate(-360deg)translate3d(3px, 0, 0);}
}

/* spin5 */
@keyframes spin5 {
	0% {transform: rotate(0deg)translate3d(2px, 0, 0);}
	100% {transform: rotate(-360deg)translate3d(2px, 0, 0);}
}
.circleWrap {position: relative;width: 100%;height: 100%;}
.circle {position: absolute;border-radius: 50%;width: 100%;height: 100%;}
.c_pos01 {top: 0;border-style: solid;border-width: 1px;border-color: rgba(255, 255, 255, 0.9);
    -webkit-animation: spin1 5s linear infinite;
    -moz-animation: spin1 5s linear infinite;
    -ms-animation: spin1 5s linear infinite;
    -o-animation: spin1 5s linear infinite;
    animation: spin1 5s linear infinite;
    /*  	animation: bo-co1 10s infinite;
        -webkit-animation: bo-co1 10s infinite; */
}
.c_pos02 {top: 0;border-style: solid;border-width: 1px;border-color: rgba(255, 255, 255, 0.9);
    -webkit-animation: spin2 4s linear infinite;
    -moz-animation: spi2 4s linear infinite;
    -ms-animation: spin2 4s linear infinite;
    -o-animation: spin2 4s linear infinite;
    animation: spin2 4s linear infinite;
    /* 	animation: bo-co2 9s infinite;
        -webkit-animation: bo-co2 9s infinite; */
}
.c_pos03 {top: 0;border-style: solid;border-width: 1px;border-color: rgba(255, 255, 255, 0.9);
    -webkit-animation: spin3 7s linear infinite;
    -moz-animation: spi3 7s linear infinite;
    -ms-animation: spin3 7s linear infinite;
    -o-animation: spin3 7s linear infinite;
    animation: spin3 7s linear infinite;
    /* 	animation: bo-co3 11s infinite;
        -webkit-animation: bo-co3 11s infinite; */
}
.c_pos04 {top: 0;border-style: solid;border-width: 1px;border-color: rgba(255, 255, 255, 0.9);
    -webkit-animation: spin4 7s linear infinite;
    -moz-animation: spi4 7s linear infinite;
    -ms-animation: spin4 7s linear infinite;
    -o-animation: spin4 7s linear infinite;
    animation: spin4 7s linear infinite;
    /* 	animation: bo-co1 12s infinite;
        -webkit-animation: bo-co1 12s infinite; */
}
.c_pos05 {top: 0;border-style: solid;border-width: 1px;border-color: rgba(255, 255, 255, 0.9);
    -webkit-animation: spin5 8s linear infinite;
    -moz-animation: spi5 8s linear infinite;
    -ms-animation: spin5 8s linear infinite;
    -o-animation: spin5 8s linear infinite;
    animation: spin5 8s linear infinite;
    /* 	animation: bo-co2 10s infinite;
        -webkit-animation: bo-co2 10s infinite; */
}
/*#endregion spn animation*/
/*#region evelit animaiton*/
.initani { overflow: hidden; position: relative; } 
.initani::before, 
.initani::after { content: ""; display: block; position: absolute; top: 0; height: 100%; width: 100%; z-index: 1; } 
.initani_bw::before { background-color: #2b3f6c; } 
.initani_bw::after { background-color: #fff; } 
.initani.initani_ww::before { background-color: #fff; } 
.initani.initani_ww::after { background-color: #fff; } 
.initani.initani_wb::before { background-color: #fff; } 
.initani.initani_wb::after { background-color: #2b3f6c; } 
.initani.initani_wbk::before { background-color: #fff; } 
.initani.initani_wbk::after { background-color: #231916; } 
.initani.initani_bkw::before { background-color: #231916; } 
.initani.initani_bkw::after { background-color: #fff; } 
.initani.initani_bg::before { background-color: #2b3f6c; } 
.initani.initani_bg::after { background-color: #DEE9EC; } 
.initani.initani_bc::before { background-color: #2b3f6c; } 
.initani.initani_bc::after { background-color: #E9F9FA; } 
.initani.initani_wg::before { background-color: #fff; } 
.initani.initani_wg::after { background-color: #FFF742; } 
.initani.initani_wy::before { background-color: #fff; } 
.initani.initani_wy::after { background-color: #FFF742; } 
.initani.initani_wc::before { background-color: #fff; } 
.initani.initani_wc::after { background-color: #E9F9FA; } 
.initani.initani_tw::before { background-color: transparent; } 
.initani.initani_tw::after { background-color: #fff; } 

.initani.initani_tb::before { background-color: transparent; } 
.initani.initani_tb::after { background-color: #2b3f6c; } 

.initani::before { -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; 
    -webkit-transform: translateX(0); -ms-transform: translateX(0); transform: translateX(0); 
    -webkit-transition: -webkit-transform 0.4s 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
    transition: -webkit-transform 0.4s 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
    transition: transform 0.4s 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
    transition: transform 0.4s 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.4s 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
} 
.initani::after { -webkit-transform-origin: left; -ms-transform-origin: left; transform-origin: left; 
    -webkit-transform: scaleX(0) translateX(0); -ms-transform: scaleX(0) translateX(0); transform: scaleX(0) translateX(0); 
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
    transition: -webkit-transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
    transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
    transition: transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53), -webkit-transform 0.6s cubic-bezier(0.55, 0.085, 0.68, 0.53); 
} 
.anistart::before { -webkit-transform: translateX(101%); -ms-transform: translateX(101%); transform: translateX(101%); } 
.anistart::after { -webkit-transform: scaleX(1) translateX(101%); -ms-transform: scaleX(1) translateX(101%); transform: scaleX(1) translateX(101%); }
/*#endregion evelit animaiton*/

/*#region io animation*/
/* ------------------------------------------------------------ スクロールアニメーション ------------------------------------------------------------ */

/*--------------------------------
	基本
--------------------------------*/

.io {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;

	/* GPU acceleration */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	/* -webkit-transform: translate3d(0, 0, 0); */
	/* transform: translate3d(0, 0, 0); */
	will-change: opacity, transform;
}

.io.move {
	opacity: 1 !important;
	-webkit-transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
	transform: translate3d(0, 0, 0) scale(1) rotate(0deg) !important;
}


/*--------------------------------
	汎用
--------------------------------*/

.io.fade {
	opacity: 0;
}

.io.lr {
	-webkit-transform: translate3d(-80px, 0, 0);
	transform: translate3d(-80px, 0, 0);
}

.io.rl {
	-webkit-transform: translate3d(80px, 0, 0);
	transform: translate3d(80px, 0, 0); 
}

.io.upL {
	-webkit-transform: translate3d(0, 80px, 0);
	transform: translate3d(0, 80px, 0);
}

.io.upS {
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.io.downL {
	-webkit-transform: translate3d(0, -80px, 0);
	transform: translate3d(0, -80px, 0);
}

.io.downS {
	-webkit-transform: translate3d(0, -20px, 0);
	transform: translate3d(0, -20px, 0);
}

.io.scaleUp {
	-webkit-transform: scale(0.8);
	transform: scale(0.8);
}

.io.scaleDown {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.io.rotateL {
 	-webkit-transform: rotate(30deg);
 	transform: rotate(30deg);
}

.io.rotateR {
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
}

/* 出現をずらす */

.io.delay.delay1 {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
}
.io.delay.delay2 {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, -webkit-transform 1.0s ease 0.23s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.23s, transform 1.0s ease 0.23s;
}
.io.delay.delay3 {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, -webkit-transform 1.0s ease 0.46s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.46s, transform 1.0s ease 0.46s;
}
.io.delay.delay4 {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, -webkit-transform 1.0s ease 0.69s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.69s, transform 1.0s ease 0.69s;
}


/* 子要素の出現をずらす */

.io.delay a {
	-webkit-transition: none;
	transition: none;
}

.io.delay .delay_child {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
	/* GPU acceleration */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	will-change: opacity, transform;
	opacity: 0;
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.io.delay.delay1 .delay_child {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
}
.io.delay.delay2 .delay_child {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, -webkit-transform 1.0s ease 0.73s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.73s, transform 1.0s ease 0.73s;
}
.io.delay.delay3 .delay_child {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, -webkit-transform 1.0s ease 0.96s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.96s, transform 1.0s ease 0.96s;
}
.io.delay.delay4 .delay_child {
	-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, -webkit-transform 1.0s ease 1.19s;
	transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 1.19s, transform 1.0s ease 1.19s;
}

.io.delay.move .delay_child {
	opacity: 1 !important;
	-webkit-transform: translate3d(0, 0, 0) !important;
	transform: translate3d(0, 0, 0) !important;
}


/* ============================== SP ============================== */

@media only screen and (max-width: 812px) {

	/* 出現をずらす */
	
	.io.delay.delay1 {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
	}
	.io.delay.delay2 {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
	}
	.io.delay.delay3 {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
	}
	.io.delay.delay4 {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, -webkit-transform 1.0s ease 0s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0s, transform 1.0s ease 0s;
	}
	
	
	/* 子要素の出現をずらす */
	
	.io.delay .delay_child {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
	}
	
	.io.delay.delay1 .delay_child {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
	}
	.io.delay.delay2 .delay_child {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
	}
	.io.delay.delay3 .delay_child {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
	}
	.io.delay.delay4 .delay_child {
		-webkit-transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, -webkit-transform 1.0s ease 0.5s;
		transition: color 0.4s ease 0s, background-color 0.4s ease 0s, opacity 1.0s ease 0.5s, transform 1.0s ease 0.5s;
	}

}
/*#endregion io animation*/
/*#region clip-left-right animation*/
.panir3 {
    display: inline-block;
    clip-path: polygon(100% 0%, 100% 0%, 100% 100%, 100% 100%);
    transition: all 1s cubic-bezier(0.5, 1, 0.89, 1);
    vertical-align: middle;
}
.panir3.on {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
}
.panil3 {
    display: inline-block;
    clip-path: polygon(0% 0%, 0% 0%, 0% 100%, 0 100%);
    transition: all 1s cubic-bezier(0.5, 1, 0.89, 1);
    vertical-align: middle;
}
.panil3.on {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%);
}
/*#endregion clip-left-right animation*/

/*#endregion ANIMATION*/

/*#region COMMON*/
.pmh_anchor {transform: translateY(-100px);content: "";width: 100%;height: 0;}
.jp_wbr {word-break: keep-all;}

.common_title_hp{ display: inline-block; }
.common_title_hp h2 {
    font-family: var(--fontSerif);
    font-size:36px; 
    line-height: 1.4;
    color:#231916; 
    position:relative; display:inline-block;

    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, #FFF742, #FFF742);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 100% 0.5em;
}
.common_title_hp span{color:#A9CD36; text-transform:uppercase;}
.common_title_hp p{
    font-family: var(--fontSerif);
    font-size:16px; line-height:24px; color:#231916; padding-top:15px;
    text-align: center;
}
.common_align_hp{text-align:center;}
.common_align_hp p{font-weight:700;}
.common_white_hp h2{color:#fff;}
.common_white_hp h2:after{background:url(../images/white_title_svg.svg) no-repeat top center;}
.common_white_hp p{color:#fff;}
.common_color_hp h2{font-family: 'Noto Sans JP', sans-serif;}
.common_color_hp p{color:#A9CD36; font-weight:700;}
.common_btn_hp{ padding:18px 60px 18px 0; min-width:180px; border-bottom: solid 1px #CCCCCC;font-weight: bold;font-size:16px; line-height:18px; color:#231916; background:none; display:inline-block; position:relative; text-align:left;}
.common_btn_hp svg{width:18px; vertical-align:middle; position:absolute; right:0px; top:50%; transform:translate(0 , -50%); z-index:2; }
.common_btn_hp svg path{ stroke: #A9CD36; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.common_btn_hp svg g{ stroke:#A9CD36; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.common_btn_hp span{ position:relative; z-index:2; }
.common_btn_hp::before{ content: ""; position: absolute; bottom: -1px; left: 0; display: block; width: 0; height: 1px; background: #fff; transition: .3s; border: 0px solid #A9CD36; z-index: 1; }
.common_btn_hp:hover:before{ width:100%;  border-width: 1px;} 
.common_btn_hp:hover svg path{ stroke:#A9CD36;  }
.common_btn_hp:hover svg g{ stroke:#A9CD36;  }
.common_btn_hp:hover{ color:#A9CD36; }
.border_btn_hp{ background: none; border: 1px solid #A9CD36; color: #A9CD36; }
.border_btn_hp:before{ background:#A9CD36; border:0; } 
.border_btn_hp:hover:before{ width:100%; } 
.border_btn_hp:hover svg path{ stroke:#fff;  }
.border_btn_hp:hover{ color:#fff; }
.border_btn_back_hp{ background:#fff; }
.border_btn_back_hp:before{ border:1px solid #fff; }
.contact_btn_hp a:before{ border-color:#231916; }
.contact_btn_hp a:hover{ color:#231916; }
.contact_btn_1_hp a:before{ border-color:#231916; }
.contact_btn_1_hp a:hover{ color:#231916; }
@media(max-width:1250px){
    .common_title_hp h2:after{left:0px;}
    .common_title_hp p{font-size:16px; line-height:20px; padding-top:10px;}
    .common_btn_hp{padding:16px 60px 16px 0; min-width:180px;}
}
@media (max-width:991px) {
    .common_title_hp h2{font-size:36px; line-height:40px;}
    .common_title_hp h2:after{top:9px; left:3px;}
    .common_title_hp p{font-size:16px; line-height:20px; padding-top:10px;}
    .common_btn_hp{font-size:14px; line-height:20px; padding:14px 42px 14px 0; min-width:160px;}
}
@media (max-width:767px){
    .common_title_hp h2{font-size:26px; line-height:40px;}
    .common_title_hp h2:after{top:8px; left:0px; width:40px; height:20px;}
    .common_btn_hp{font-size:16px; line-height:23px; padding:14px 16px 14px 0; min-width:140px;}
    .common_btn_hp img{right:10px;}
}
.pgtitle_block {padding: 20vh 0;}
.pgtitle {display: inline-block;padding: 20px 20px 20px 0;}
.pgtitle h1 {font-size: 70px;font-weight: bold;}
.pgtitle p {font-size: 20px;font-weight: bold;color: #A9CD36;padding-top: 12px;}
.pgfeature_right {width: calc( 50% + 700px );margin-left: auto;}
.pgfeature_left {width: calc( 50% + 700px );margin-right: auto;}
.pgfeature_block img {width: 100%;}
.sec_title {padding: 8px 8px 12px 0; display: inline-block;}
.sec_title h2{font-size: 42px;font-weight: normal;margin:0;}
.sec_subtitle {display: flex;align-items: center;height: 4em;font-size: 30px;font-weight: bold;padding: 8px 0 16px;}
.sec_subtitle h3{font-size: inherit;font-weight: bold;line-height: 1.5;}
@media (max-width: 1250px) {
    .pgfeature_left, .pgfeature_right {width: calc( 50% + 480px );}
    .sec_title h2 {font-size: 32px;}
    .sec_subtitle {font-size: 24px;}
}
@media (max-width: 991px) {
    .pgfeature_left, .pgfeature_right {width: calc( 50% + 365px );}
}
@media (max-width: 767px) {
    .pgfeature_left, .pgfeature_right {width: 100%;}
    .pgtitle h1 {font-size: 40px;}
    .pgtitle p {font-size: 16px;}
    .sec_title h2 {font-size: 26px;}
    .sec_subtitle {font-size: 20px;}
}
.link_row {display: flex;justify-content: space-between;}
.link_col {width: 47%;}
.link_img img {width: 100%;transition: all .3s;}
.link_item:hover .link_img img {opacity: .7;}
.link_a{transition: all .3s;  border-bottom: solid 1px #CCCCCC;font-size: 18px; line-height: 36px; color:#231916; background:none; padding:18px 98px 18px 0; display:inline-block; position:relative; width:100%; min-width:294px; text-align:left;}
.link_a svg{width: 14px; vertical-align:middle; position:absolute; right:19px; top:54%; transform:translate(0 , -50%); z-index:2; }
.link_a svg path{ stroke: #A9CD36; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.link_a svg g{ stroke:#A9CD36; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.link_a span{ position:relative; z-index:2; }
.link_a::before{ content: ""; position: absolute; bottom: -1px; left: 0; z-index: -1; display: block; width: 0; height: 0px; background: #fff; transition: .3s; border: 0px solid #A9CD36; z-index: 1; }
.link_item:hover .link_a::before{ width:100%;  border-width: 1px;} 
.link_item:hover .link_a svg path{ stroke:#A9CD36;  }
.link_item:hover .link_a svg g{ stroke:#A9CD36;  }
.link_item:hover .link_a{ color:#A9CD36; }
@media (max-width: 1250px) {
    .link_a {font-size: 16px;line-height: 32px;}
    .link_a svg {width: 12px;}
}
@media (max-width: 991px) {
    .link_a {padding-right: 30px;}
}
@media (max-width:767px) {
    .link_row {display: block;}
    .link_col {width: 100%;}
}
.com_job_btn{ 
    font-family: var(--fontSerif);
    font-weight: bold;
    padding: 16px 32px 16px 16px; width:250px; background-color: #231916; border: solid 2px #231916;
    font-size:16px; line-height:18px; color:#fff; display:inline-block; position:relative; 
    text-align:center;
}
.com_job_btn svg{width:18px; vertical-align:middle; position:absolute; right:12px; 
    top:50%; transform:translate(0 , -50%); z-index:2; }
.com_job_btn svg path{ stroke: #fff; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.com_job_btn svg g{ stroke:#fff; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear; }
.com_job_btn span{ position:relative; z-index:2; }
.com_job_btn::before{ content: ""; position: absolute; bottom: 0px; left: 0; display: block; width: 0; height: 100%; background: #fff; transition: .3s; z-index: 1; }
.com_job_btn:hover:before{ width:100%;  border-width: 1px;} 
.com_job_btn:hover svg path{ stroke:#231916;  }
.com_job_btn:hover svg g{ stroke:#231916;  }
.com_job_btn:hover{ color:#231916; }
.com_job_btn.pxt_shrink {
    width: auto;
}
@media(max-width:1250px){
    .com_job_btn{padding:16px 60px 16px 16px; min-width:180px;}
    .com_job_btn{padding:16px 60px 16px 16px; min-width:180px;}
}
@media (max-width:991px) {
    .com_job_btn{font-size:14px; line-height:20px; padding:14px 42px 14px 14px; min-width:160px;}
}
@media (max-width:767px){
    .com_job_btn{font-size:16px; line-height:23px; padding:14px 42px 14px 14px; min-width:140px;}
    .com_job_btn img{right:10px;}
}
/*#endregion COMMON*/

/*#region HEADER*/
#header{padding:0 60px; margin:0px; width:100%; position:fixed; top:0; width:100%; height: 80px;z-index:111; transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear;}
.header_set {display: flex;justify-content: space-between;align-items: center;}
.header_left {display: flex; align-items: center; flex: 1;}
.header_desc {font-family: var(--fontSerif); font-size: 20px; font-weight: 600; flex: 1; text-align: center; display: none;}
.header_logo img {height: 74px;width: auto;}
.headlogo_white {display: none;}
.headlogo_green {display: none;}
.pst_blackheader .headlogo_white {display: none;}
.pst_blackheader .headlogo_green {display: block;}
.header_menu {flex: 1;display: flex;justify-content: flex-end;align-items: center;}
.headmenu_ul {display: flex;justify-content: flex-end;}
.headmenu_a {color: #fff;padding: 0 18px;height: 80px;display: flex;justify-content: center;align-items: center;flex-direction: column;transition: all .1s;}
.headmenu_a:hover {color: #fff;}
.headmenu_shape {display: flex;justify-content: center;align-items: center;position: relative;}
.headmenu_uline {position: absolute;bottom: -4px;left: 0;content: "";height: 1px;background-color: #fff;width: 0;transition: all .3s;}
.headmenu_a:hover .headmenu_uline {width: 100%;}
.headmenu_a.headmenu_contact {margin-left: 20px;padding: 0;}
.headmenu_a.headmenu_contact .headmenu_shape{padding: 0 30px;height: 50px;border: solid 1px #fff;border-radius: 50px;transition: all .3s;}
.headmenu_a.headmenu_contact:hover .headmenu_shape {border-color: #A9CD36;background-color: #A9CD36;}
#header.pst_blackheader {background-color: #fff;border-bottom: 1px solid #DEDEDE;}
.pst_blackheader .headmenu_a {color: #231916;}
.pst_blackheader .headmenu_uline {background-color: #231916;}
.pst_blackheader .headmenu_a.headmenu_contact .headmenu_shape{border-color: #231916;}
.pst_blackheader .headmenu_a.headmenu_contact:hover .headmenu_shape {border-color: #A9CD36;background-color: #A9CD36;}
.pst_blackheader .headmenu_a.headmenu_contact:hover {color: #fff;}
.spheadmenu_logo {display: none;}
@media (max-width: 1250px) {
    #header{padding: 0 15px;}
    .headmenu_a {padding: 0 8px;}
    .headmenu_a.headmenu_contact {margin-left: 8px;}
}
@media (max-width: 991px) {
    #header {height: 70px;}
    .header_set {margin-top: 10px;}
    .pst_blackheader .header_desc {display: block;}
    .header_logo img {height: 50px;}
    .header_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 120;
        transform: scale(0.95);
        pointer-events: none;
        background-color: rgba(23, 23, 23, 0.95);
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        -ms-transition: 0.6s;
        transition: 0.6s;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        will-change: opacity, transform;
        opacity: 0;
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        padding-top: 10vh;
    }
    .header_menu.pst_open {opacity: 1;-webkit-transform: scale(1);transform: scale(1);pointer-events: auto;}
    .headmenu_a {height: 50px;color: #fff !important;}
    .headmenu_a.headmenu_contact {margin-left: 0;margin-top: 20px;}
    .headmenu_uline {background-color: #fff !important;}
    .headmenu_a.headmenu_contact .headmenu_shape { border-color: #fff !important;}
    .headmenu_a.headmenu_contact:hover .headmenu_shape { border-color: #A9CD36 !important;}
    .spheadmenu_logo {display: block;padding: 10px;margin-bottom: 10vh;width: 100%;}
    .spheadmenu_logo img{height: 50px;}
}
.hamburger_set{ display: none; min-height:36px; line-height:34px; text-align:center; font-size:10px;position: relative;z-index: 130;}
.hamburger_set a{ color:#000;}
.hamburger_btn{ margin:0; vertical-align:middle; display:inline-block; padding:0px; width: 32px; height: 15px; cursor:pointer; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;}
.hamburger_btn span{ background:#fff; display:block; width:30px; height:2px; border-radius:0px; margin:0px 1px 4px 1px; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; -o-transition: all 0.3s linear; -ms-transition: all 0.3s linear; transition: all 0.3s linear;}
.pst_blackheader .hamburger_btn span{ background:#231916; }
.hamburger_btn span:last-child{ margin-bottom:0px;}
.hamburger_btn span:nth-child(2){ width:23px; }
.hamburger_btn span:nth-child(3){ width:15px; }
.hamburger_btn.pst_open span:nth-child(1), .hamburger_btn.pst_open span:nth-child(3){ transform: translate(0px, 7px) rotate(-45deg) scalex(1); margin-bottom:0px;}
.hamburger_btn.pst_open span:nth-child(2){ height:0; margin-bottom:0px; width:0px;}
.hamburger_btn.pst_open span:nth-child(3){ transform: translate(0px, 5px) rotate(45deg) scalex(1); width:30px;}
.menu-toggle-btn-text-hp{ font-size:10px; line-height:6px; color:#00B5C4; font-weight:600; letter-spacing:-0.39px; text-transform:uppercase; text-align:center; margin:0px; padding:9px 0px 0px; position:relative;}
.hide-scroll{ overflow:hidden !important;}
@media (max-width: 991px) {
    .hamburger_set {display: block;}
    .hamburger_btn.pst_open span{ background:#fff !important;}
}
/*#endregion HEADER*/

/*#region subheader*/
#subheader {transform: translateX(0);z-index: 105;height: calc(40vh + 160px);padding-top: 100px;padding-right: 60px;margin: 0px;top: 0;right: 0;position: fixed;display: flex;flex-direction: column;justify-content: center;align-items: center;transition: all 0.3s linear;-webkit-transition: all 0.3s linear;-moz-transition: all 0.3s linear;-o-transition: all 0.3s linear;-ms-transition: all 0.3s linear; pointer-events: none;}
#subheader.pst_hide {transform: translateX(100%);}
.subheader_hp {position: relative; pointer-events: all;}
.submenu_btn {display: none;left: -28px;top: -28px;height: 30px;width: 30px;content: "";position: absolute;background-image: url(../images/submenu_open.svg);background-repeat: no-repeat;background-size: 14px 14px;background-position: center;cursor: pointer;}
.pst_hide .submenu_btn {display: block;}
#subheader.pst_while {transform: translateX(0) !important;}
.pst_while .submenu_btn {display: none !important;}
.subheader_cross1 {height: 1px;top: 0;left: -15px;width: calc( 100% + 15px );background-color: #E0E0E0;position: absolute;}
.subheader_cross2 {height: 1px;top: -15px;left: 0;width: calc( 100% + 15px );transform: rotate(90deg);transform-origin: top left;background-color: #E0E0E0;position: absolute;}
.subheader_ul li {margin: 20px;}
.subheader_ul a {color: #231916;position: relative;padding: 4px 0;}
.subheader_ul a:hover {color: #A9CD36;}
.subheader_ul a::before{bottom: -1px; left: 0; display: block; width: 0; height: 1px; background: #fff; transition: .3s; border: 0px solid #A9CD36; z-index: 1;content: ""; position: absolute;}
.subheader_ul a:hover:before{ width:100%;  border-width: 1px;} 
@media (max-width: 1250px) {
    #subheader {padding-right: 14px;}
}
@media (max-width: 767px) {
    #subheader {padding-top: calc( 20vh + 80px );padding-right: 14px;justify-content: flex-start;}
}
/*#endregion subheader*/

/*#region FOOTER*/
.back-to-top{position:fixed; right:0px; bottom:0px; z-index:99; display:none; width:50px; height:50px; line-height:50px; text-align:center;}
.back-to-top a{display:flex; }
.back-to-top img{width:100%;}

.footer_block {
    position: relative;
    background-color: #FFF742;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer_block.pxt_recruit {
    padding-top: 120px;
}
.footer_wrap {padding: 0 60px;}
.footer_row {display: flex;justify-content: space-between;}
.footer_logo img {}
.footer_right {display: flex;justify-content: flex-end;}
.footer_menu {flex: 1;}
.footmenu_ul {display: flex;justify-content: flex-end;align-items: center;}
.footmenu_ul li {margin-left: 30px;}
.footmenu_ul li a {color: #231916;display: flex;justify-content: center;align-items: center;flex-direction: column;}
.footmenu_uline {content: "";height: 1px;background-color: #231916;width: 0;transition: all .3s;}
.footmenu_ul a:hover .footmenu_uline {width: 100%;}
.footer_copyright {font-size: 16px;line-height: 17px;color: #231916;text-align: right;}
@media (max-width: 1250px) {
    .footer_wrap {
        padding: 0 15px;
    }
}
@media (max-width:991px) {
    .footer_menu {flex: unset; padding-right: 30px;}
    .footmenu_ul {display: block;}
    .footmenu_ul li {margin-left: 10px;margin-bottom: 14px;}
    .footmenu_ul li a {display: inline-block;}
}
@media (max-width:767px) {
    .footer_wrap {padding: 0 15px;}
    .footer_right {flex-direction: column;}
}
/*#endregion FOOTER*/

/*#region footer contact*/
.footcontact_block {width: 80%; margin: auto;background: #231916;position: relative;z-index: 1;padding: 90px 0;
    margin-bottom: -60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footcontact_text {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
}
.foot_phone {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition: all .3s;
    color: #fff;
}
.foot_phone:hover {
    opacity: 0.7;
}
.footphone_text {
    font-size: 40px;
    color: #fff;
}
.footcontact_row {width: 1400px;margin: auto;display: flex;justify-content: space-between;align-items: center;}
.footcontact_link {height: 120px;display: flex;flex-direction: column;justify-content: space-between;align-items: center;color: #fff;}
.footcontact_link:hover {color: #fff;}
.footcontact_icon {width: 48px;}
.footcontact_nump {position: relative;padding-bottom: 10px;}
.footcontact_nump p {text-align: center;font-size: 18px;}
.footcontact_nump span {font-size: 12px;}
.footcontact_btn {display: flex;justify-content: center;align-items: center;position: relative;gap: 20px;padding-bottom: 10px;}
.footcontact_btn span {font-size: 20px;font-weight: bold;}
.footcontact_btn svg {width: 16px;}
.footcontact_uline {content: "";position: absolute;left: 0;bottom: 0;height: 2px;background-color: #fff;width: 0;transition: all .3s;}
.footcontact_link:hover .footcontact_uline {width: 100%;}
@media (max-width: 767px) {
    .footcontact_block {
        width: calc(100% - 30px);
        padding: 40px 0 40px;
    }
    .footcontact_text {
        font-size: 20px;
    }
    .footphone_img img {
        width: 24px;
    }
    .footphone_text {
        font-size: 20px;
    }
    .footcontact_title{position: absolute;top: 15px;left: 15px;}
    .footcontact_btn {gap: 8px;}
    .footcontact_btn span {font-size: 18px;}
}
/*#endregion footer contact*/

/*#region pg_top*/
.cwidth12 {
    width: 1200px;
    margin: auto;
}
@media (max-width: 1200px) {
    .cwidth12 {
        width: calc(100% - 30px);
    }
}
.cwidth14 {
    width: 1400px;
    margin: auto;
}
@media (max-width: 1400px) {
    .cwidth14 {
        width: calc(100% - 30px);
    }
}
.cwidth16 {
    width: 1600px;
    margin: auto;
}
@media (max-width: 1600px) {
    .cwidth16 {
        width: calc(100% - 30px);
    }
}
.block_pc {
    display: block !important;
}
.flex_pc {
    display: flex !important;
}
.block_sp {
    display: none !important;
}
.flex_sp {
    display: none !important;
}
.br_pc {
    display: block !important;
}
.br_sp {
    display: none !important;
}
@media (max-width: 767px) {
    .block_pc {
        display: none !important;
    }
    .flex_pc {
        display: none !important;
    }
    .block_sp {
        display: block !important;
    }
    .flex_sp {
        display: flex !important;
    }
    .br_pc {
        display: none !important;
    }
    .br_sp {
        display: block !important;
    }
}


.banner_block_tp {
    display: flex;
    height: 100vh;
}
.banner_left_tp {
    width: 260px;
    display: flex;
    justify-content: center;
    align-content: end;
}
.banner_content_tp {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.banner_logo_tp {
    width: 150px;
    transition: all .7s;
    transform: translateY(-50px);
    opacity: 0;
}
.banner_block_tp.run_ani .banner_logo_tp {
    transform: translateY(0);
    opacity: 1;
}
.banner_text_tp {

}
.banner_text_tp h1 {
    font-family: var(--fontSerif);
    font-size: 50px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    letter-spacing: 0.3em;
    line-height: 1.5;
    margin: auto;
    transition: all .7s;
    transition-delay: 1s;
    transform: translateY(50px);
    opacity: 0;
}
.banner_block_tp.run_ani .banner_text_tp h1 {
    transform: translateY(0);
    opacity: 1;
}
.banner_right_tp {
    flex: 1;
}
.banner_img_tp {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.banner_img_tp video {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.mv_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transition: all 5s;
    scale: 1.2;
}
.banner_block_tp.run_ani .mv_image {
    scale: 1;
}
@media (max-width: 767px) {
    .banner_block_tp {
        position: relative;
        height: 70vh;
    }
    .banner_left_tp {
        position: relative;
        z-index: 1;
        width: 160px;
    }
    .banner_logo_tp {
        width: 70%;
    }
    .banner_logo_tp img {
        width: 100%;
    }
    .banner_text_tp h1 {
        font-size: 30px;
    }
    .banner_right_tp {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
    .mv_image {
        max-width: unset;
    }
}

.about_title_tp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_row_tp {
    display: flex;
}
.about_left {
    width: 45%;
}
.about_img {
    margin-top: 100px;
}
.about_img img {
    width: 100%;
}
.about_right {
    width: 50%;
    padding-left: 30px;
    position: relative;
}
.about_content {
    position: relative;
}
.about_name {
    font-family: var(--fontSerif);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.8;
}
.about_name span {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.15em;
}
.about_text {
    line-height: 3;
}
.about_deco {
    position: absolute;
    top: 150px;
    left: 260px;
    width: 20vw;
}
.about_deco img {
    width: 100%;
}
@media (max-width: 767px) {
    .about_row_tp {
        display: block;
    }
    .about_left {
        width: 100%;
    }
    .about_img {
        margin-top: 0;
    }
    .about_name span {
        font-size: 30px;
    }
    .about_right {
        padding-left: 15px;
        width: 100%;
        margin-top: -70px;
        overflow: hidden;
    }
    .about_deco {
        width: 50vw;
        top: 121px;
        left: 200px;
    }
}
.example_row {
    display: flex;
}
.example_left {
    width: 50%;
    position: relative;
}
.before_sign {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #231916;
    color: #fff;
}
.example_right {
    width: 50%;
    position: relative;
}
.example_row img {
    width: 100%;
    position: relative;
}
.after_sign {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF742;
    color: #231916;
}
@media (max-width: 767px) {
    .before_sign,
    .after_sign {
        width: 50px;
        height: 26px;
        font-size: 12px;
    }
}
.habbit_block_tp {
    background-repeat: no-repeat;
    background-image: url(../images/tp_habbit.jpg);
    background-size: cover;
    background-position: center;
    padding: 60px 0;
    min-height: 700px;
}
.habbit_title_tp h2 {
    font-size: 36px;
    font-family: var(--fontSerif);
    font-weight: 600;
    letter-spacing: 0.1em;
    color: #fff;
}
.habbit_text_tp {
    color: #fff;
    line-height: 2;
}
@media (max-width: 767px) {
    .habbit_block_tp {
        padding: 40px 0;
        min-height: 550px;
    }
    .habbit_title_tp h2 {
        font-size: 26px;
    }
}
.problem_block_tp {
    background-color: #F2F2F2;
}
.problem_title_tp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.problem_title_tp .common_title_hp h2 {
    background: none;
}
.problem_important_tp {
    text-align: center;
    font-size: 26px;
    font-family: var(--fontSerif);
    font-weight: 600;
}
.problem_img_tp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.problem_img_tp img {
    max-width: 100%;
}
.problem_text {
    padding: 40px;
    line-height: 2;
    background-color: #E2E2E2;
    border-radius: 16px;
}
@media (max-width: 767px) {
    .problem_important_tp {
        font-size: 20px;
    }
    .problem_text {
        padding: 15px;
        border-radius: 8px;
    }
}
.feature_block_tp {
    position: relative;
    overflow: hidden;
}
.feature_back_tp {
    position: absolute;
    left: 7%;
    top: 0;
    width: 300%;
    height: calc(100% - 10vw);
    background-color: #FFF742;
    border-top-left-radius: 100vh;
    border-bottom-left-radius: 100vh;
}
.feature_back_tp.pxt_left {
    left: unset;
    right: 7%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 100vh;
    border-bottom-right-radius: 100vh;
}
.feature_front_tp {
    position: relative;

}
.feature_title_tp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature_title_tp .common_title_hp h2{
    background: none;

}
.feature_row_tp {
    display: flex;
}
.feature_row_tp.pxt_right {
    flex-direction: row-reverse;
}
.feature_left_tp {
    width: 60%;
}
.feature_left_tp img {
    width: 100%;
}
.feature_right_tp {
    width: 40%;
    display: flex;
    align-items: center;
    padding: 15px 4%;
}
.feature_content_tp {
    max-width: 400px;
    margin-right: auto;
}
.feature_row_tp.pxt_right .feature_content_tp {
    margin-left: auto;
    margin-right: 0;
}
.feature_no_tp {
    font-size: 26px;
}
.feature_subtle_tp {
    font-size: 26px;
}
@media (max-width: 767px) {
    .feature_row_tp {
        display: block;
    }
    .feature_left_tp {
        width: 100%;
        display: flex;
    }
    .feature_row_tp.pxt_right .feature_left_tp{
        justify-content: flex-end;
    }
    .feature_left_tp img {
        width: 90%;
    }
    .feature_row_tp.pxt_right .feature_left_tp img {
        width: 90%;
    }
    .feature_right_tp {
        width: 100%;
        margin-bottom: 28px;
    }
    .feature_subtle_tp {
        font-size: 20px;
    }
}
.video_width_tp {
    width: 900px;
    margin: auto;
}
@media (max-width: 900px) {
    .video_width_tp {
        width: 100%;
    }
}
.video_topdiv {
    width: 100%;
    padding-top: 60%;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    cursor: pointer;
}
.video_tag {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video_front {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/tp_video_cover.jpg);
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.video_front img {
    width: 60px;
}
.phil_block_tp {
    display: flex;
}
.phil_left_tp {
    flex: 1;
}
.phil_left_tp img {
    width: 100%;
}
.phil_center_tp {
    width: 600px;
    background-image: url(../images/phil_bg.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position-x: 80%;
    background-position-y: bottom;
}
.phil_top_svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.phil_title_tp, 
.phil_title_lp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.phil_title_lp .common_title_hp h2 {
    background: none;
}
.phil_subtle {
    font-size: 32px;
    font-weight: 600;
    font-family: var(--fontSerif);
    text-align: center;
}
.phil_text {
    text-align: center;
    line-height: 2;
}
.phil_right_tp {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.phil_right_tp img {
    width: 90%;
}
.phil_btn_lp {
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 767px) {
    .phil_block_tp {
        display: block;
    }
    .phil_center_tp {
        padding: 0 15px;
        width: 100%;
        margin-top: 36px;
        margin-bottom: 36px;
    }
    .phil_subtle {
        font-size: 26px;
    }
}
.refresh_width_tp {
    width: 798px;
    margin: auto;
}
.bubble{
    background-color: #FFF742;
    /* box-shadow: 0 0 6px #B2B2B2; */
    display: inline-block;
    padding: 12px 15px;
    position: relative;
    vertical-align: top;
    font-size: 26px;
    font-family: var(--fontSerif);
    text-align: center;
}

.bubble::before {
    background-color: #FFF742;
    content: "\00a0";
    display: block;
    height: 20px;
    position: absolute;
    bottom: -10px;
    transform: rotate( 29deg ) skew( -35deg );
    -moz-transform: rotate( 29deg ) skew( -35deg );
    -ms-transform: rotate( 29deg ) skew( -35deg );
    -o-transform: rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 34deg ) skew( -20deg );
    width: 22px;
    /* box-shadow: 2px 2px 2px 0 rgba( 178, 178, 178, .4 ); */
    left: calc(50% - 20px);
}
.bubble_title_tp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.refresh_img_tp img {
    width: 100%;
    margin-top: -20px;
}
.refresh_text_tp {
    text-align: center;
    font-size: 26px;
    font-family: var(--fontSerif);
}
@media (max-width: 798px) {
    .refresh_width_tp {
        width: calc(100% - 30px);
    }
    .bubble {
        font-size: 20px;
        text-align: center;
    }
    .refresh_text_tp {
        font-size: 20px;
    }
}
.sdg_title_tp,
.sdg_title_lp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sdg_title_lp .common_title_hp h2 {
    background: none;
}
.sdg_line_tp {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.sdg_row_tp {
    display: flex;
    justify-content: space-between;
}
.sdg_col_tp {
    width: 48%;
    position: relative;
}
.sdgcol_img_tp img {
    width: 100%;
}
.sdgcol_title_tp {
    font-size: 26px;
    font-family: var(--fontSerif);
}
.sdgcol_text_tp {

}
.sdgcol_sign_tp {
    position: absolute;
    top: 0;
    left: 0;
}
@media (max-width: 767px) {
    .sdg_row_tp {
        display: block;
    }
    .sdg_col_tp {
        width: 100%;
        margin-bottom: 24px;
    }
    .sdgcol_title_tp {
        font-size: 18px;
    }
}
.sdg_row_lp {
    display: flex;
}
.sdg_row_lp.pxt_right {
    flex-direction: row-reverse;
}
.sdgrow_left_lp {
    width: 440px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: 500px;
    position: relative;
    z-index: 1;
}
.sdgcontent_lp {
    margin-right: -5vw;
    background-color: #FFF742;
    padding: 80px;
    width: 100%;
}
.sdg_row_lp.pxt_right .sdgcontent_lp {
    margin-right: auto;
    margin-left: -5vw;
}
.sdgcontent_title_lp {
    font-size: 26px;
    font-weight: 600;
    font-family: var(--fontSerif);
}
.sdgrow_right_lp {
    flex: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.sdg_sign_lp {
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 1;
}
.sdg_row_lp.pxt_right .sdg_sign_lp {
    left: -15px;
    right: unset;
}
@media (max-width: 767px) {
    .sdg_row_lp {
        display: block;
    }
    .sdgrow_left_lp {
        width: 100%;
        min-height: auto;
    }
    .sdgcontent_lp {
        padding: 15px 15px 20px 15px;
        margin-left: 0;
        margin-right: 0;
    }
    .sdg_row_lp.pxt_right .sdgcontent_lp {
        margin-left: 0;
        margin-right: 0;
    }
    .sdgrow_right_lp {
        height: 40vw;
    }
    .sdg_sign_lp {
        top: -10px;
        right: -10px;
    }
    .sdg_row_lp.pxt_right .sdg_sign_lp {
        left: -10px;
        right: unset;
    }
}
.line_row_tp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00BA00;
    border-radius: 50vw;
}
.line_title_tp {
    font-size: 36px;
    font-weight: 600;
    color: #fff;
}
.line_number {
    color: #fff;
    font-size: 24px;
}
.line_number span {
    font-size: 16px;
    font-weight: bold;
    margin-right: 15px;
}

@media (max-width: 767px) {
    .line_row_tp {
        border-radius: 50px;
    }
    .line_title_tp {
        font-size: 24px;
    }
}
.company_row {
    display: flex;
    justify-content: space-between;
}
.company_right {
    min-width: 600px;
}
.company_table dl {
    display: flex;
    border-bottom: solid 1px #E2E2E2;
    padding: 15px 0;
    margin-bottom: 0;
}
.company_table dl:last-child {
    border: none;
}
.company_table dt {
    width: 100px;
}
.company_table dd {
    flex: 1;
}
@media (max-width: 767px) {
    .company_row {
        display: block;
    }
    .company_left {
        width: 100%;
    }
    .company_right {
        width: 100%;
        min-width: auto;
    }
}
.profile_title_lp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile_title_lp .common_title_hp h2 {
    background: none;
}
.profile_table_lp th, 
.profile_table_lp td {
    padding: 30px;
    border: solid 1px #E2E2E2;
}
.profile_table_lp th {
    width: 24%;
    background-color: #F7F7F7;
    vertical-align: middle;
}
@media (max-width: 767px) {
    .profile_table_lp th {
        width: 130px;
        padding: 10px 4px;
    }
    .profile_table_lp td {
        padding: 10px 4px;
    }
}
.company_title_lp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.company_title_lp .common_title_hp h2 {
    background: none;
}
.company_block_lp .company_table {
    max-width: 600px;
    margin: auto;
}
.company_block_lp .company_table dt {
    width: 140px;
}
@media (max-width: 767px) {
    .company_block_lp .company_table dt {
        width: 100px;
    } 
}

.sdgfull_img {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sdgfull_img img {
    width: 100%;
    max-width: 600px;
}

/*#endregion pg_top*/

/*#region pg_contact*/
.contact_block_tp {
    background-color: #F7F7F7;
}
.contact_block_lp {
    background-color: #FFF742;
}
.contact_title_tp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contactform_width {width: 800px;margin: auto;}
.form_field {padding: 20px 0;}
.field_cap {margin-bottom: 12px;}
.field_cap span {color: #fff;background: #E63F3F;font-size: 14px;line-height: 20px;padding: 0 3px;margin-left: 11px;}
.field_control input {height: 52px;width: 100%;background: #fff;border: solid 1px #231916;border-radius: 0px;color: #231916;padding: 12px;font-size: 16px;line-height: 30px;}
.field_control textarea {height: 260px;width: 100%;background: #fff;border:  solid 1px #231916;border-radius: 0px;color: #231916;padding: 20px 20px;font-size: 16px;line-height: 24px;outline: none;}
.field_checkbox {padding-top: 20px;}
.field_contactbtn {text-align: center;padding-top: 40px;}
.field_contactbtn input[type=submit] {font-size: 16px;line-height: 23px;color: #ffffff;border-color: #231916;border-style: solid;background: #231916;padding: 18px 98px;display: inline-block;position: relative;min-width: 294px;text-align: center;transition: all .3s;}
.field_contactbtn input[type=submit]:hover {color: #231916;background: #fff;}
@media (max-width: 800px) {
    .contactform_width {width: calc( 100% - 30px );margin: auto;}
}
.contact_title_lp {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_title_lp .common_title_hp h2 {
    background: none;
}
.contact_block_lp .form_field {
    display: flex;
    justify-content: space-between;
}
.contact_block_lp .field_cap {
    width: 30%;
}
.contact_block_lp .field_control {
    width: 68%;
}
.field_cap span {
    color: #F02121;
    background-color: transparent;
    border: solid 1px #F02121;
}
@media (max-width: 800px) {
    .contact_block_lp .form_field {
        display: block;
    }
    .contact_block_lp .field_cap {
        width: 100%;
    }
    .contact_block_lp .field_control {
        width: 100%;
    }
}
/*#endregion pg_contact*/
