.biz_outline{
	.inner{
		.message{
			margin-bottom: 40px;
			text-align: left;
			.img{
				width:15%;
				float: left;
				@media screen and (max-width: 640px) {/*sp*/
					width:100%;
					float: none;
					margin-bottom: 20px;
					text-align: center;
				}
			}
			.text{
				width:80%;
				float: right;
				line-height: 1.6em;
				@media screen and (max-width: 640px) {/*sp*/
					width:100%;
					float: none;
					margin-bottom: 20px;
				}
				.name{
					font-size: 1.8rem;
					margin-bottom: 40px;
					span{
						font-size: 0.6em;
						display: block;
						margin-bottom: 10px;
					}
				}
				> span{
					font-size: 1.4em;
					font-weight: 500;
					line-height: 1.5em;
					margin-bottom: 20px;
					display: block;
				}
			}
		}//.message
		.contents{
			text-align: left;
			.box{
				border-bottom: 1px dotted #ccc;
				margin-bottom: 40px;
				padding-bottom: 40px;
				line-height: 1.6em;
				.text{
					width:65%;
					float: left;
					@media screen and (max-width: 640px) {/*sp*/
						width:100%;
						float: none;
						margin-bottom: 20px;
					}
					span{
						display: block;
						margin-bottom: 30px;
						font-size: 1.8em;
						font-weight: 500;
					}
				}
				.img{
					width:30%;
					float: right;
					img{
						width:100%;
						height: auto;
					}
					@media screen and (max-width: 640px) {/*sp*/
						width:100%;
						float: none;
						margin-bottom: 20px;
					}
				}
			}
		}
	}
}