.portfolio_detail{
	ul{
		&.list{
			margin-bottom: 40px;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
			li{
				display:block;
				width:25%;
				float: left;
				@media screen and (max-width: 640px) {/*sp*/
					width:50%;
				}
				a{
					text-decoration: none;
					display: block;
					padding: 15px 10px;
					border: 1px solid #ccc;
					&.on{
						background: #333;
						color: #fff;
						border: 1px solid #333;
					}
				}
			}
		}
	}//ul
	.genre{
		margin-bottom: 40px;
		background: #333;
		color: #fff;
		padding: 10px;
	}
	.post{
		h3{
			margin-bottom: 40px;
			font-size: 1.8em;
			padding-bottom: 40px;
			border-bottom: 1px solid #ccc;
			@media screen and (max-width: 640px) {/*sp*/
				font-size: 1.3em;
				margin-bottom: 10px;
				padding-bottom: 10px;
			}
		}
		.text{
			text-align: left;
			margin-bottom: 40px;
			line-height: 1.4em;
		}
		.image{
			width:100%;
			margin: auto;
			.slick-box{
				background: #333;
				border: 1px solid #333;
				margin-bottom: 10px;
				img{
					height:480px;
					margin: auto;
					@media screen and (max-width: 640px) {/*sp*/
						height:240px;
					}
				}
			}
			.slick-nav{
				text-align: left;
				li{
					font-display: inline-block;
					border:2px solid #fff;
					&.slick-current{
						border:2px solid #363636;
					}
				}
			}
		}//.image
		.bottom_nav{
			margin-top: 40px;
			padding: 20px 0px;
			border-top: 1px solid #ccc;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
			.prev{
				width:50%;
				float: left;
				text-align: left;
			}
			.next{
				width:50%;
				float: right;
				text-align: right;
			}
		}
	}//.post
}