.staff{
	.inner{
		.list{
			margin-bottom: 40px;
			&:after{
				content: "";
				display: block;
				clear: both;
			}
			.img{
				width:40%;
				float: left;
				img{
					width:100%;
					height: auto;
				}
				@media screen and (max-width: 640px) {/*sp*/
					width:100%;
					float: none;
					margin-bottom: 20px;
				}
			}
			dl{
				width:55%;
				float: right;
				text-align: left;
				@media screen and (max-width: 640px) {/*sp*/
					width:100%;
					float: none;
					margin-bottom: 20px;
				}
				dt{
					width:40%;
					float: left;
					font-weight: 500;
					padding: 25px 0px;
					clear: both;
				}
				dd{
					padding: 0 0 0 40%;
					border-bottom: 1px solid #ccc;
					padding: 25px 0px;
				}
			}
		}//.list
		.list_detail{
			text-align: left;
			.box{
				padding: 15px 0px;
				border-bottom: 1px solid #ccc;
				span{
					display: block;
					float: left;
					width:30%;
					font-size: 0.9em;
				}
				p{
					display: block;
					float: left;
					font-size: 1.2em;
					width:70%;
				}
			}
		}
	}
}