/*===============================================
レスポンシブ対応　ボックス　テンプレート
===============================================*/
@media screen and (min-width: 769px){

	/*---------------------------
	ワイドボックス
	----------------------------*/
	main .wbox{
		width:100%;
		padding:30px 0px;
	}
	main .wbox .inner{
		width:1000px;
		margin:0px auto;
	}

	/*背景に色や画像を指定するときは、追加で*/
	main .wbox.bg_gray{
		background:#ccc;
	}

	/*---------------------------
	ナビゲーション
	-------------------------*/

}

/*===============================================
tablet 画面の横幅が641px～768pxまで
===============================================*/
@media screen and (min-width: 641px) and (max-width: 768px) {

	未入力だとプレーンに戻る

}
/*===============================================
smart  画面の横幅が640pxまで
===============================================*/
@media screen and (max-width:640px){

	未入力だとプレーンに戻る

}