/*---------------------------
aircon
----------------------------*/
.aircon {
  text-align: left;
}
.aircon .inner {
  width: 900px;
}
@media only screen and (min-width: 641px) and (max-width: 768px) {
  .aircon .inner {
    /*tablet*/
    width: 96%;
  }
}
@media screen and (max-width: 640px) {
  .aircon .inner {
    /*sp*/
    width: 92%;
  }
}
.aircon .inner .title {
  margin-bottom: 40px;
}
.aircon .inner .title .img {
  width: 35%;
  float: left;
}
@media screen and (max-width: 640px) {
  .aircon .inner .title .img {
    /*sp*/
    width: 100%;
    float: none;
    margin-bottom: 10px;
    text-align: center;
  }
}
.aircon .inner .title .txt {
  width: 60%;
  float: right;
}
@media screen and (max-width: 640px) {
  .aircon .inner .title .txt {
    /*sp*/
    width: 100%;
    float: none;
  }
}
.aircon .inner .title .txt span {
  font-size: 1.5em;
  font-weight: 500;
  line-height: 1.4em;
  display: block;
  margin-bottom: 20px;
}
@media screen and (max-width: 640px) {
  .aircon .inner .title .txt span {
    /*sp*/
  }
  .aircon .inner .title .txt span br {
    display: none;
  }
}
.aircon .inner .guide .txt img {
  display: block;
  margin-bottom: 20px;
}
.aircon .inner .guide .img {
  padding: 10px;
  box-shadow: 3px 3px 5px #ccc;
  border: 1px solid #ccc;
}
.aircon .inner .guide .img img {
  width: 100%;
}
.aircon .inner .point .col img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
.aircon .inner .flow .img:after {
  content: "";
  display: block;
  clear: both;
}
.aircon .inner .flow .img img {
  margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
  .aircon .inner .flow .img img {
    /*sp*/
    width: 50%;
    float: left;
  }
  .aircon .inner .flow .img img:nth-of-type(3) {
    display: none;
  }
}
.aircon .inner .flow .txt .box {
  display: block;
  padding-top: 10px;
}
.aircon .inner .flow .txt .box span {
  width: 40%;
  display: inline-block;
  margin-right: 5%;
  padding: 10px;
  border-radius: 50px;
  background: #4AC1D2;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 640px) {
  .aircon .inner .flow .txt .box span {
    /*sp*/
    width: 100%;
    margin-bottom: 10px;
  }
}
.aircon .inner .flow .txt .arrow {
  padding: 10px 0px;
  color: #999;
  text-indent: 20%;
}
@media screen and (max-width: 640px) {
  .aircon .inner .flow .txt .arrow {
    /*sp*/
    text-indent: 0;
    text-align: center;
    padding: 5px 0px;
  }
}
.aircon .inner .contact {
  border: 1px solid #ccc;
  background: url(http://www.cfrepair.co.jp/img/contents/works/aircon/contact_img.png) no-repeat top right;
  background-size: auto 100%;
}
@media screen and (max-width: 640px) {
  .aircon .inner .contact {
    /*sp*/
    background: none;
  }
}
.aircon .inner .contact .col {
  padding: 30px 20px;
}
@media screen and (max-width: 640px) {
  .aircon .inner .contact .col {
    /*sp*/
    padding: 10px 4%;
  }
}
.aircon .inner .contact .col span {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4em;
  font-weight: 500;
}
.aircon .inner .contact .col .tel {
  font-size: 1.4em;
  font-weight: 500;
  margin-bottom: 10px;
}
.aircon .inner .contact .col .tel img {
  vertical-align: middle;
  margin-right: 10px;
}
.aircon .inner .contact .col .mail {
  margin-bottom: 10px;
}
.aircon .inner .contact .col .mail img {
  vertical-align: middle;
  margin-right: 10px;
}
