@charset "UTF-8";
/*-------------------------------
ディフォルト設定
---------------------------------*/
html {
  width: 100%;
}

body {
  background: #fff;
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-size: 0.9em;
  line-height: 1.4em;
  color: #000000;
  font-family: 'Kosugi', Avenir , "Open Sans" , "Helvetica Neue" , Helvetica , Arial , Verdana , Roboto , "游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
}

/*text link（サイト全体のメイン文字カラー）
-------------------------------- */
a:link {
  color: #000;
}

a:visited {
  color: #000;
}

a:hover {
  color: #000;
}

a:active {
  color: #000;
}

/*clear（属性解除）
------------------------*/
* div:after {
  content: "";
  clear: both;
  display: block;
}

/*mb
------------------------*/
.mb10 {
  margin-bottom: 10px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

/*img
------------------------*/
* img {
  border: none;
  margin: 0px;
  padding: 0px;
  vertical-align: bottom;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
