@charset "utf-8";

/*---------------------------
fitness
----------------------------*/
.fitness{
	text-align: left;
	.inner{
		width:900px;
		@media only screen and (min-width:641px) and (max-width:768px) {/*tablet*/
			width:96%;
		}
		@media screen and (max-width: 640px) {/*sp*/
			width:92%;
		}
		.title {
			margin-bottom: 40px;
			.img{
				width:35%;
				float: left;
				@media screen and (max-width: 640px) {/*sp*/
					width:100%;
					float: none;
					margin-bottom: 10px;
					text-align: center;
				}
			}
			.txt{
				width:60%;
				float: right;
				@media screen and (max-width: 640px) {/*sp*/
					width:100%;
					float: none;
				}
				span{
					font-size: 1.5em;
					font-weight: 500;
					line-height: 1.4em;
					display: block;
					margin-bottom: 20px;
					@media screen and (max-width: 640px) {/*sp*/
						br{
							display: none;
						}
					}
				}
			}
		}//.title
		.guide{
			.txt{
				img{
					display: block;
					margin-bottom: 20px;
				}
			}
			.img{
				padding: 10px;
				box-shadow: 3px 3px 5px #ccc;
				border: 1px solid #ccc;
				img{
					width:100%;
				}
			}
		}//.guide
		.point{
			.col{
				img{
					display: block;
					margin: auto;
					margin-bottom: 10px;
				}
			}
		}//.point
		.client{
			.col{
				margin-bottom: 15px;
				span{
					display: block;
					margin-bottom: 10px;
				}
			}
		}
	}//.inner
}