@charset "utf-8";
/*----------------------
form
----------------------*/
input{
	-webkit-appearance: none;//ios時のボタンCSS調
}
* input[type="text"]{
	width:100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
	&.w20{
		width:20%;
	}
	&.w30{
		width:30%;
	}
	&.w50{
		width:50%;
	}
	&.w75{
		width:75%;
	}
}
* input[type="number"]{
	width:100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
	&.w20{
		width:20%;
	}
	&.w30{
		width:30%;
	}
	&.w50{
		width:50%;
	}
	&.w75{
		width:75%;
	}
}
* input[type="password"]{
	width:100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
}
* input[type="tel"]{
	width:100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
	&.w20{
		width:20%;
	}
	&.w30{
		width:30%;
	}
	&.w50{
		width:50%;
	}
	&.w75{
		width:75%;
	}
}
* input[type="email"]{
	width:100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
	&.w30{
		width:30%;
	}
	&.w50{
		width:50%;
		@media screen and (max-width: 640px) {/*sp*/
			width:100%;
		}
	}
	&.w75{
		width:75%;
		@media screen and (max-width: 640px) {/*sp*/
			width:100%;
		}
	}
}
* input[type="file"]{
	width:100%;
	padding: 10px;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
}
* input[type="submit"]{
	padding: 10px 20px;
	border: 2px solid #F78EA6;
	border-radius: 3px;
	background: #F78EA6;
	color: #fff;
}
* input[type="button"]{
	padding: 10px 20px;
	border: 2px solid #999;
	border-radius: 3px;
	background: #999;
	color: #fff;
}
/*-----------------------
radio
------------------------*/
input[type="radio"]{
	-webkit-appearance: none;
	width:15px;
	height:15px;
	border:2px solid #19283C;
	border-radius:15px;
	background:transparent;
	opacity:0.5;
	width:100%;
}
input[type="radio"]:checked{
	background:#19283C;
	opacity:1;
}

/*-----------------------
checkbox
------------------------*/
label > input[type="checkbox"]{
	display: none;
}
input[type="checkbox"] + span{
  padding-left: 30px;
  position:relative;
  margin-right: 20px;
}
input[type="checkbox"] + span::before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border: 1px solid #999;
  border-radius: 4px;
}
input[type="checkbox"]:checked + span{
  color: #89B32A;
}
input[type="checkbox"]:checked + span::after{
  content: "";
  display: block;
  position: absolute;
  top: -5px;
  left: 5px;
  width: 7px;
  height: 14px;
  transform: rotate(40deg);
  border-bottom: 3px solid #89B32A;
  border-right: 3px solid #89B32A;
}

* select{
	width:100%;
	padding: 10px 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	background: #fff;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
	&.w30{
		width:30%;
		@media screen and (max-width: 640px) {/*sp*/
			width:100%;
		}
	}
	&.w50{
		width:50%;
		@media screen and (max-width: 640px) {/*sp*/
			width:100%;
		}
	}
	&.w75{
		width:75%;
		@media screen and (max-width: 640px) {/*sp*/
			width:100%;
		}
	}
}

* textarea{
	width:100%;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 3px;
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
	&.w30{
		width:30%;
	}
	&.w50{
		width:50%;
	}
	&.w75{
		width:75%;
	}
}
* .checkbox{
	@media screen and (max-width: 640px) {/*sp*/
		font-size: 16px;
	}
	span{
		display: inline-block;
		margin-right: 10px;
		margin-bottom: 10px;
		&.none{
			display: block;
		}
	}
}