@charset "utf-8";
/*---------------------------
policy
----------------------------*/
.policy{
	.inner{
		text-align: left;
		.main{
			>p{
				margin-bottom: 30px;
			}
			.txt{
				margin-bottom: 40px;
				p{
					margin-bottom: 30px;
				}
				h3{
					margin-bottom: 10px;
					padding-bottom: 10px;
					font-size: 1.2em;
				}
			}//.txt
			.contact_box{
				h3{
					margin-bottom: 20px;
				}
			}
		}
		
	}//.inner
}