.u-tag {
    display: inline-block;
    width: 114px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    &-red {
        color: #fff;
        background: $colorRed;
    }
    &-blue {
        color: $colorBlue;
        border: 1px solid $colorBlue;
        background: #fff;
    }
}