@use '../global'as g;

.page._contact {
  background: radial-gradient(rgba(#333, .28) 0%, rgba(#333, .28) 100%),
    url(../img/top_09.jpg) no-repeat center/cover;
  clip-path: polygon(0 0, 100% 0, 100% 67%, 0 100%);
  margin-bottom: 2em;

  @include g.sp {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  }
}

.contact {
  padding-top: 2em;
  padding-bottom: 210px;

  .contactBox {
    max-width: 762px;
    margin: 0 auto;

    @include g.sp {
      width: 95%;
    }

    .contactBox_text {
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      margin-bottom: 80px;

      @include g.sp {
        font-size: 1.125rem;
        margin-bottom: 2em;
      }
    }

    .telBox {
      text-align: center;
      margin-bottom: 120px;

      @include g.sp {
        margin-bottom: 3em;
      }

      .telBox_text {
        font-size: 18px;
        margin-bottom: 10px;

        @include g.sp {
          font-size: 1.125rem;
        }
      }

      .telBox_num {
        font-size: 38px;
        font-weight: 500;
        color: #9D0105;

        @include g.pc {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        @include g.sp {
          font-size: 2.375rem;
        }

        .fa-phone {
          font-size: 30px;
          padding-top: 0.2em;
          margin-right: 0.5em;

          @include g.sp {
            font-size: 1.875rem;
          }
        }

        span {
          font-size: 15px;
          font-weight: 500;
          color: #333;
          margin-left: 1em;

          @include g.sp {
            display: block;
            font-size: 0.9375rem;
          }
        }
      }
    }

    .form {
      max-width: 762px;
      margin: 0 auto;

      dl {
        @include g.pc {
          display: flex;
          flex-wrap: wrap;
        }

        dt {
          width: 33%;
          font-size: 18px;
          font-weight: 400;
          margin-bottom: 60px;
          padding: 0.6em 0;

          @include g.sp {
            width: 100%;
            font-size: 1.125rem;
            margin-bottom: 1em;
          }

          .require {
            color: #333;
            background-color: #EAEAEA;
            font-size: 16px;
            font-weight: 500;
            padding: 0.2em 0.5em;
            margin-left: 1em;

            @include g.sp {
              font-size: 1rem;
            }
          }
        }

        dd {
          width: 67%;
          font-size: 18px;
          margin-bottom: 40px;

          @include g.sp {
            width: 100%;
            font-size: 1.125rem;
            margin-bottom: 1em;
          }

          input[type=text],
          input[type=email],
          input[type=tel] {
            max-width: 510px;
            width: 100%;
            height: 45px;
            background-color: #fff;
            border: 1px solid rgba($color: #333, $alpha: 0.2);
            padding-left: 0.8em;
            margin-bottom: 1em;
          }

          textarea {
            max-width: 510px;
            width: 100%;
            height: 140px;
            border: 1px solid rgba($color: #333, $alpha: 0.2);
            background-color: #fff;
            padding-left: 0.8em;
            padding-top: 0.8em;
            margin-bottom: 60px;

            @include g.sp {
              margin-bottom: 2em;
            }
          }
        }

        .radioLists {
          display: flex;
          flex-wrap: wrap;
          padding: 0.6em 0;

          .radio_item {
            margin-right: 1em;
            margin-bottom: 1em;
          }
        }
      }

      .privacyPolicy {
        font-size: 16px;
        text-align: center;
        margin-bottom: 60px;

        @include g.sp {
          font-size: 1rem;
          margin-bottom: 2em;
        }

        ._ul {
          text-decoration: underline;
        }
      }

      .formBtn {
        text-align: center;
      }
    }
  }
}
